<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>ChatHub</title>

	<!-- Library CSS -->
	<link href="./node_modules/angular-material/angular-material.min.css" rel="stylesheet" type="text/css">
	<link href="./node_modules/material-design-icons/iconfont/material-icons.css" rel="stylesheet" type="text/css">
	<!-- App CSS -->
	<link href="./stylesheets/main.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="chathub" ng-cloak layout="column">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 class="no-select">
				<md-icon md-font-set="material-icons">forum</md-icon>
				<span>ChatHub</span>
			</h2>
			<span flex></span>
			<div layout="row" layout-align="center center" ng-hide="$root.noUser">
				<div class="user-avatar">
					<img class="no-select" src="images/default.png"/>
				</div>
				<h3 class="no-select">
					<span>{{$root.user.name}}</span>
				</h3>
				<md-menu md-position-mode="target-right target">
					<md-button aria-label="Settings Menu" class="md-icon-button" ng-click="$root.openMenu($mdOpenMenu, $event)">
						<!-- <md-icon md-menu-origin md-svg-icon="call:phone"></md-icon> -->
						<md-icon md-menu-origin md-font-set="material-icons">more_vert</md-icon>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item>
							<md-button>
								<md-icon md-menu-align-target md-font-set="material-icons">account_circle</md-icon> Profile
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button>
								<md-icon md-font-set="material-icons">settings</md-icon> Settings
							</md-button>
						</md-menu-item>
						<md-menu-divider></md-menu-divider>
						<md-menu-item>
							<md-button ng-click="$root.logout()">
								<md-icon md-font-set="material-icons">power_settings_new</md-icon> Logout
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</div>
	</md-toolbar>

	<div ui-view flex="" layout="column"></div>

	<!-- ALL THE JS -->
	<script src="vendor/electron_boilerplate/context_menu.js"></script>
	<script src="vendor/electron_boilerplate/external_links.js"></script>

	<script src="./node_modules/angular/angular.js"></script>
	<script src="./node_modules/angular-aria/angular-aria.js"></script>
	<script src="./node_modules/angular-animate/angular-animate.js"></script>
	<script src="./node_modules/angular-material/angular-material.js"></script>
	<script src="./node_modules/angular-messages/angular-messages.js"></script>
	<script src="./node_modules/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="./node_modules/angularfire/dist/angularfire.js"></script>
	<script src="./node_modules/angularfire/node_modules/firebase/lib/firebase-web.js"></script>

	<script src="app.js"></script>
	<script src="modules/signup/signup.module.js"></script>
	<script src="modules/signup/signup.component.js"></script>
	<script src="modules/chats/chats.module.js"></script>
	<script src="modules/chats/chats.component.js"></script>
	<script src="modules/chats-detail/chats-detail.module.js"></script>
	<script src="modules/chats-detail/chats-detail.component.js"></script>
	<script src="modules/chats-service/chats-service.module.js"></script>
	<script src="modules/chats-service/chats-service.service.js"></script>
	<script src="modules/users-service/users-service.module.js"></script>
	<script src="modules/users-service/users-service.service.js"></script>
</body>
</html>
