<div id="chats-detail-component" flex="" layout="column" class="overflow-scroll">
	<div>
		<md-subheader flex="none">
			<div class="md-subhead">
				{{$ctrl.room.name}}
			</div>
			<div class="md-body-1">
				{{$ctrl.room.topic}}
			</div>
		</md-subheader>
		<md-divider></md-divider>
		<div layout="column" ng-show="$ctrl.messages.length!==0" class="overflow-scroll">
			<md-list class="overflow-scroll">
				<md-list-item ng-repeat="message in $ctrl.messages" class="md-2-line">
					<img class="no-select md-avatar avatar-outline" src="images/default.png"/>
					<div class="md-list-item-text">
						<h3>{{message.author}} - <span class="md-caption">{{message.timestamp | date:'MMM-d h:mm a'}}</span></h3>
						<p class="md-body-1">{{message.message}}</p>
					</div>
					<md-divider></md-divider>
				</md-list-item>
			</md-list>
		</div>
		<div flex="none" ng-show="$ctrl.messages.length===0">
			<p class="md-headline text-center">It's lonely here...</p>
		</div>
	</div>
	<!-- <div flex=""></div> -->
	<div>
		<div class="fixed-bottom">
			<md-divider></md-divider>
			<div flex="none" layout="row">
				<input type="text" class="chat-input-box" flex="" ng-model="$ctrl.chatBox" ng-keypress="$ctrl.addMessage($event)" placeholder="Send a Message"/>
			</div>
		</div>
	</div>
</div>
